In [2]:
import pandas as pd
import numpy as np

In [3]:
data112 = pd.read_excel("112신고데이터(2차).xlsx")
data112.tail()

        지구대/파출소  서강지구대  공덕지구대  월드컵지구대  홍익지구대  용강지구대
2094 2022-09-26     30     15      31     78     44
2095 2022-09-27     26     27      42     78     41
2096 2022-09-28     47     34      30     70     30
2097 2022-09-29     31     30      30     99     51
2098 2022-09-30     61     34      44    113     62

In [4]:
subway = pd.read_excel("승하차wide.xlsx")
subway.tail()

,날짜,요일,서강지구대_승차,서강지구대_하차,공덕지구대_승차,공덕지구대_하차,월드컵지구대_승차,월드컵지구대_하차,홍익지구대_승차,홍익지구대_하차,용강지구대_승차,용강지구대_하차
2094,2022-09-26,월,18147,19011,67461,69123,19609,18320,50920,52745,55414,56815
2095,2022-09-27,화,18273,19307,67317,68896,19662,18433,51989,54135,55307,56684
2096,2022-09-28,수,18048,19076,65924,67120,19663,18404,51682,53731,53880,55063
2097,2022-09-29,목,18989,20088,69290,70524,20187,18782,53958,56245,57016,58280
2098,2022-09-30,금,20163,22021,72350,72995,21293,19792,58551,63366,58496,60143

In [5]:
dayoff = pd.read_excel("요일휴일추가(2차).xlsx")
dayoff.tail()

           date days  휴일명  dayoff  nextdayoff
2094 2022-09-26    월  NaN       0           0
2095 2022-09-27    화  NaN       0           0
2096 2022-09-28    수  NaN       0           0
2097 2022-09-29    목  NaN       0           0
2098 2022-09-30    금  NaN       0           1

In [6]:
data112 = data112.rename(columns = {
    '지구대/파출소' : 'date',
    '서강지구대' : 'seogang',
    '공덕지구대' : 'gongdeok',
    '월드컵지구대' : 'worldcup',
    '홍익지구대' : 'hongik',
    '용강지구대' : 'yonggang'
})
data112.columns

Index(['date', 'seogang', 'gongdeok', 'worldcup', 'hongik', 'yonggang'], dtype='object')

In [7]:
dayoff = dayoff.drop(columns = '휴일명')
dayoff.head()

        date days  dayoff  nextdayoff
0 2017-01-01    일       1           0
1 2017-01-02    월       0           0
2 2017-01-03    화       0           0
3 2017-01-04    수       0           0
4 2017-01-05    목       0           0

In [8]:
subway.head()

,날짜,요일,서강지구대_승차,서강지구대_하차,공덕지구대_승차,공덕지구대_하차,월드컵지구대_승차,월드컵지구대_하차,홍익지구대_승차,홍익지구대_하차,용강지구대_승차,용강지구대_하차
0,2017-01-01,일,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,월,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,화,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,수,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,목,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [9]:
subway = subway.rename(columns = {
    '서강지구대_승차' : 'seogang_on',
    '공덕지구대_승차' : 'gongdeok_on',
    '월드컵지구대_승차' : 'worldcup_on',
    '홍익지구대_승차' : 'hongik_on',
    '용강지구대_승차' : 'yonggang_on'
})
subway.columns

Index(['날짜', '요일', 'seogang_on', '서강지구대_하차', 'gongdeok_on', '공덕지구대_하차',
       'worldcup_on', '월드컵지구대_하차', 'hongik_on', '홍익지구대_하차', 'yonggang_on',
       '용강지구대_하차'],
      dtype='object')

In [10]:
subway = subway.rename(columns = {
    '서강지구대_하차' : 'seogang_off',
    '공덕지구대_하차' : 'gongdeok_off',
    '월드컵지구대_하차' : 'worldcup_off',
    '홍익지구대_하차' : 'hongik_off',
    '용강지구대_하차' : 'yonggang_off'
})
subway.columns

Index(['날짜', '요일', 'seogang_on', 'seogang_off', 'gongdeok_on', 'gongdeok_off',
       'worldcup_on', 'worldcup_off', 'hongik_on', 'hongik_off', 'yonggang_on',
       'yonggang_off'],
      dtype='object')

In [11]:
subway = subway.drop(columns = '요일')
subway.head()

,날짜,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [12]:
subway = subway.rename(columns = {
    '날짜' : 'date'
})
subway.head()

,date,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [13]:
predict112 = pd.merge(data112, dayoff, on='date', how='inner')

In [14]:
predict112 = pd.merge(predict112, subway, on='date', how='inner') # 건수, 승하차, 요일 결합
predict112.head()

,date,seogang,gongdeok,worldcup,hongik,yonggang,days,dayoff,nextdayoff,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,37,14,23,172,24,일,1,0,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,13,24,28,43,17,월,0,0,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,20,19,27,56,35,화,0,0,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,16,22,32,43,33,수,0,0,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,36,16,18,62,17,목,0,0,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [15]:
# 기후정보
wd = pd.read_excel("기후정보.xlsx", sheet_name = "data")
wd.head()

          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0 2017-01-01       4.5       0.0         2.0
1 2017-01-02       5.9       0.0         2.6
2 2017-01-03       3.4       0.0         1.8
3 2017-01-04       4.9       0.0         2.0
4 2017-01-05       5.3       0.0         3.0

In [16]:
wd = wd.rename(columns = {
    '일시' : 'date',
    '평균기온(°C)' : 'av_temperature',
    '일강수량(mm)' : 'rain',
    '평균 풍속(m/s)' : 'wind_speed'
})
wd.head()

        date  av_temperature  rain  wind_speed
0 2017-01-01             4.5   0.0         2.0
1 2017-01-02             5.9   0.0         2.6
2 2017-01-03             3.4   0.0         1.8
3 2017-01-04             4.9   0.0         2.0
4 2017-01-05             5.3   0.0         3.0

In [17]:
predict112 = pd.merge(predict112, wd, on = "date", how = 'left')
predict112.head()

,date,seogang,gongdeok,worldcup,hongik,yonggang,days,dayoff,nextdayoff,seogang_on,...,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off,av_temperature,rain,wind_speed
0,2017-01-01,37,14,23,172,24,일,1,0,11688,...,30137,13358,12565,35200,33579,18660,19015,4.5,0.0,2.0
1,2017-01-02,13,24,28,43,17,월,0,0,20362,...,70666,19774,18422,55476,57039,57626,58837,5.9,0.0,2.6
2,2017-01-03,20,19,27,56,35,화,0,0,21624,...,73294,20847,19627,59694,60959,61256,62586,3.4,0.0,1.8
3,2017-01-04,16,22,32,43,33,수,0,0,22016,...,73959,21223,19704,61018,62285,61557,63279,4.9,0.0,2.0
4,2017-01-05,36,16,18,62,17,목,0,0,22322,...,73812,21171,19667,61853,63728,62254,63826,5.3,0.0,3.0

In [18]:
col_indices = [0] + list(range(6, 22)) + list(range(1, 6))
col_indices

[0, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 1, 2, 3, 4, 5]

In [19]:
predict112 = predict112.iloc[:,col_indices]

In [20]:
predict112.head()

,date,days,dayoff,nextdayoff,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,...,yonggang_on,yonggang_off,av_temperature,rain,wind_speed,seogang,gongdeok,worldcup,hongik,yonggang
0,2017-01-01,일,1,0,11688,11751,28835,30137,13358,12565,...,18660,19015,4.5,0.0,2.0,37,14,23,172,24
1,2017-01-02,월,0,0,20362,21450,68984,70666,19774,18422,...,57626,58837,5.9,0.0,2.6,13,24,28,43,17
2,2017-01-03,화,0,0,21624,23024,72255,73294,20847,19627,...,61256,62586,3.4,0.0,1.8,20,19,27,56,35
3,2017-01-04,수,0,0,22016,23346,72611,73959,21223,19704,...,61557,63279,4.9,0.0,2.0,16,22,32,43,33
4,2017-01-05,목,0,0,22322,23811,72873,73812,21171,19667,...,62254,63826,5.3,0.0,3.0,36,16,18,62,17

In [22]:
predict112.describe()

,date,dayoff,nextdayoff,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,...,yonggang_on,yonggang_off,av_temperature,rain,wind_speed,seogang,gongdeok,worldcup,hongik,yonggang
count,2099,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000,...,2099.000000,2099.000000,2062.000000,2094.000000,2067.000000,2099.000000,2099.000000,2099.000000,2099.000000,2099.000000
mean,2019-11-16 00:00:00,0.317294,0.317294,17578.447356,18726.589805,60560.512625,61403.651739,19091.062411,17983.865174,52597.203907,...,49319.958552,50285.884707,13.909893,3.234002,2.536768,32.829443,26.684135,29.925679,85.367318,33.324917
min,2017-01-01 00:00:00,0.000000,0.000000,3715.000000,3877.000000,11140.000000,11210.000000,5773.000000,5146.000000,12934.000000,...,8884.000000,8720.000000,-14.900000,0.000000,0.300000,3.000000,5.000000,7.000000,24.000000,6.000000
25%,2018-06-09 12:00:00,0.000000,0.000000,14073.000000,14875.500000,45357.500000,45720.000000,16111.500000,15101.500000,45186.500000,...,33270.500000,33087.000000,5.400000,0.000000,1.900000,26.000000,21.000000,23.000000,60.000000,26.000000
50%,2019-11-16 00:00:00,0.000000,0.000000,17466.000000,18561.000000,62830.000000,63380.000000,19313.000000,18046.000000,53518.000000,...,55308.000000,56614.000000,15.000000,0.000000,2.300000,31.000000,26.000000,29.000000,76.000000,32.000000
75%,2021-04-23 12:00:00,1.000000,1.000000,22253.500000,23520.500000,79005.000000,80405.000000,22344.500000,20946.500000,62693.500000,...,65037.500000,66736.000000,23.100000,0.000000,3.000000,39.000000,32.000000,36.000000,104.000000,39.000000
max,2022-09-30 00:00:00,1.000000,1.000000,26867.000000,29966.000000,93075.000000,94360.000000,66396.000000,75925.000000,74974.000000,...,82616.000000,78349.000000,33.500000,160.000000,7.500000,84.000000,75.000000,127.000000,227.000000,90.000000
std,NaN,0.465534,0.465534,4928.786544,5361.621787,20400.627842,20963.101160,5755.690390,5838.975512,11949.845745,...,17741.536463,18507.251206,10.471608,12.301211,0.915423,10.246554,8.531375,10.094983,35.271180,10.254586

In [23]:
predict112.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099 entries, 0 to 2098
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2099 non-null   datetime64[ns]
 1   days            2099 non-null   object
 2   dayoff          2099 non-null   int64
 3   nextdayoff      2099 non-null   int64
 4   seogang_on      2099 non-null   int64
 5   seogang_off     2099 non-null   int64
 6   gongdeok_on     2099 non-null   int64
 7   gongdeok_off    2099 non-null   int64
 8   worldcup_on     2099 non-null   int64
 9   worldcup_off    2099 non-null   int64
 10  hongik_on       2099 non-null   int64
 11  hongik_off      2099 non-null   int64
 12  yonggang_on     2099 non-null   int64
 13  yonggang_off    2099 non-null   int64
 14  av_temperature  2062 non-null   float64
 15  rain            2094 non-null   float64
 16  wind_speed      2067 non-null   float64
 17  seogang         2099 non-null   int64
 18  gongdeok        2099 non-null   int64
 19  worldcup        2099 non-null   int64
 20  hongik          2099 non-null   int64
 21  yonggang        2099 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(17), object(1)
memory usage: 360.9+ KB

In [26]:
train_data = predict112[predict112['date'] < '2022-09-01']
test_data = predict112[predict112['date'] >= '2022-09-01']

In [27]:
# csv 저장
train_data.to_csv('train_data.csv', index=False, encoding="UTF-8")
test_data.to_csv('test_data.csv', index=False, encoding="UTF-8")

In [ ]:
# EDA