In [84]:
import pandas as pd
import numpy as np

In [85]:
data112 = pd.read_excel("112신고데이터(2차).xlsx")
data112.tail()

        지구대/파출소  서강지구대  공덕지구대  월드컵지구대  홍익지구대  용강지구대
2094 2022-09-26     30     15      31     78     44
2095 2022-09-27     26     27      42     78     41
2096 2022-09-28     47     34      30     70     30
2097 2022-09-29     31     30      30     99     51
2098 2022-09-30     61     34      44    113     62

In [86]:
subway = pd.read_excel("승하차wide.xlsx")
subway.tail()

,날짜,요일,서강지구대_승차,서강지구대_하차,공덕지구대_승차,공덕지구대_하차,월드컵지구대_승차,월드컵지구대_하차,홍익지구대_승차,홍익지구대_하차,용강지구대_승차,용강지구대_하차
2094,2022-09-26,월,18147,19011,67461,69123,19609,18320,50920,52745,55414,56815
2095,2022-09-27,화,18273,19307,67317,68896,19662,18433,51989,54135,55307,56684
2096,2022-09-28,수,18048,19076,65924,67120,19663,18404,51682,53731,53880,55063
2097,2022-09-29,목,18989,20088,69290,70524,20187,18782,53958,56245,57016,58280
2098,2022-09-30,금,20163,22021,72350,72995,21293,19792,58551,63366,58496,60143

In [87]:
dayoff = pd.read_excel("요일휴일추가(2차).xlsx")
dayoff.tail()

           date days  휴일명  dayoff  nextdayoff
2094 2022-09-26    월  NaN       0           0
2095 2022-09-27    화  NaN       0           0
2096 2022-09-28    수  NaN       0           0
2097 2022-09-29    목  NaN       0           0
2098 2022-09-30    금  NaN       0           1

In [88]:
data112 = data112.rename(columns = {
    '지구대/파출소' : 'date',
    '서강지구대' : 'seogang',
    '공덕지구대' : 'gongdeok',
    '월드컵지구대' : 'worldcup',
    '홍익지구대' : 'hongik',
    '용강지구대' : 'yonggang'
})
data112.columns

Index(['date', 'seogang', 'gongdeok', 'worldcup', 'hongik', 'yonggang'], dtype='object')

In [89]:
dayoff = dayoff.drop(columns = '휴일명')
dayoff.head()

        date days  dayoff  nextdayoff
0 2017-01-01    일       1           0
1 2017-01-02    월       0           0
2 2017-01-03    화       0           0
3 2017-01-04    수       0           0
4 2017-01-05    목       0           0

In [90]:
subway.head()

,날짜,요일,서강지구대_승차,서강지구대_하차,공덕지구대_승차,공덕지구대_하차,월드컵지구대_승차,월드컵지구대_하차,홍익지구대_승차,홍익지구대_하차,용강지구대_승차,용강지구대_하차
0,2017-01-01,일,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,월,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,화,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,수,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,목,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [91]:
subway = subway.rename(columns = {
    '서강지구대_승차' : 'seogang_on',
    '공덕지구대_승차' : 'gongdeok_on',
    '월드컵지구대_승차' : 'worldcup_on',
    '홍익지구대_승차' : 'hongik_on',
    '용강지구대_승차' : 'yonggang_on'
})
subway.columns

Index(['날짜', '요일', 'seogang_on', '서강지구대_하차', 'gongdeok_on', '공덕지구대_하차',
       'worldcup_on', '월드컵지구대_하차', 'hongik_on', '홍익지구대_하차', 'yonggang_on',
       '용강지구대_하차'],
      dtype='object')

In [92]:
subway = subway.rename(columns = {
    '서강지구대_하차' : 'seogang_off',
    '공덕지구대_하차' : 'gongdeok_off',
    '월드컵지구대_하차' : 'worldcup_off',
    '홍익지구대_하차' : 'hongik_off',
    '용강지구대_하차' : 'yonggang_off'
})
subway.columns

Index(['날짜', '요일', 'seogang_on', 'seogang_off', 'gongdeok_on', 'gongdeok_off',
       'worldcup_on', 'worldcup_off', 'hongik_on', 'hongik_off', 'yonggang_on',
       'yonggang_off'],
      dtype='object')

In [94]:
subway = subway.drop(columns = '요일')
subway.head()

,날짜,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [96]:
subway = subway.rename(columns = {
    '날짜' : 'date'
})
subway.head()

,date,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [116]:
predict112 = pd.merge(data112, dayoff, on='date', how='inner')

In [117]:
predict112 = pd.merge(predict112, subway, on='date', how='inner') # 건수, 승하차, 요일 결합
predict112.head()

,date,seogang,gongdeok,worldcup,hongik,yonggang,days,dayoff,nextdayoff,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off
0,2017-01-01,37,14,23,172,24,일,1,0,11688,11751,28835,30137,13358,12565,35200,33579,18660,19015
1,2017-01-02,13,24,28,43,17,월,0,0,20362,21450,68984,70666,19774,18422,55476,57039,57626,58837
2,2017-01-03,20,19,27,56,35,화,0,0,21624,23024,72255,73294,20847,19627,59694,60959,61256,62586
3,2017-01-04,16,22,32,43,33,수,0,0,22016,23346,72611,73959,21223,19704,61018,62285,61557,63279
4,2017-01-05,36,16,18,62,17,목,0,0,22322,23811,72873,73812,21171,19667,61853,63728,62254,63826

In [118]:
# 기후정보
wd = pd.read_excel("기후정보.xlsx", sheet_name = "data")
wd.head()

          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0 2017-01-01       4.5       0.0         2.0
1 2017-01-02       5.9       0.0         2.6
2 2017-01-03       3.4       0.0         1.8
3 2017-01-04       4.9       0.0         2.0
4 2017-01-05       5.3       0.0         3.0

In [119]:
wd = wd.rename(columns = {
    '일시' : 'date',
    '평균기온(°C)' : 'av_temperature',
    '일강수량(mm)' : 'rain',
    '평균 풍속(m/s)' : 'wind_speed'
})
wd.head()

        date  av_temperature  rain  wind_speed
0 2017-01-01             4.5   0.0         2.0
1 2017-01-02             5.9   0.0         2.6
2 2017-01-03             3.4   0.0         1.8
3 2017-01-04             4.9   0.0         2.0
4 2017-01-05             5.3   0.0         3.0

In [120]:
predict112 = pd.merge(predict112, wd, on = "date", how = 'left')
predict112.head()

,date,seogang,gongdeok,worldcup,hongik,yonggang,days,dayoff,nextdayoff,seogang_on,...,gongdeok_off,worldcup_on,worldcup_off,hongik_on,hongik_off,yonggang_on,yonggang_off,av_temperature,rain,wind_speed
0,2017-01-01,37,14,23,172,24,일,1,0,11688,...,30137,13358,12565,35200,33579,18660,19015,4.5,0.0,2.0
1,2017-01-02,13,24,28,43,17,월,0,0,20362,...,70666,19774,18422,55476,57039,57626,58837,5.9,0.0,2.6
2,2017-01-03,20,19,27,56,35,화,0,0,21624,...,73294,20847,19627,59694,60959,61256,62586,3.4,0.0,1.8
3,2017-01-04,16,22,32,43,33,수,0,0,22016,...,73959,21223,19704,61018,62285,61557,63279,4.9,0.0,2.0
4,2017-01-05,36,16,18,62,17,목,0,0,22322,...,73812,21171,19667,61853,63728,62254,63826,5.3,0.0,3.0

In [150]:
col_indices = [0] + list(range(6, 22)) + list(range(1, 6))
col_indices

[0, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 1, 2, 3, 4, 5]

In [152]:
predict112 = predict112.iloc[:,col_indices]

In [153]:
predict112.head()

,date,days,dayoff,nextdayoff,seogang_on,seogang_off,gongdeok_on,gongdeok_off,worldcup_on,worldcup_off,...,yonggang_on,yonggang_off,av_temperature,rain,wind_speed,seogang,gongdeok,worldcup,hongik,yonggang
0,2017-01-01,일,1,0,11688,11751,28835,30137,13358,12565,...,18660,19015,4.5,0.0,2.0,37,14,23,172,24
1,2017-01-02,월,0,0,20362,21450,68984,70666,19774,18422,...,57626,58837,5.9,0.0,2.6,13,24,28,43,17
2,2017-01-03,화,0,0,21624,23024,72255,73294,20847,19627,...,61256,62586,3.4,0.0,1.8,20,19,27,56,35
3,2017-01-04,수,0,0,22016,23346,72611,73959,21223,19704,...,61557,63279,4.9,0.0,2.0,16,22,32,43,33
4,2017-01-05,목,0,0,22322,23811,72873,73812,21171,19667,...,62254,63826,5.3,0.0,3.0,36,16,18,62,17